<div fxLayout="row" style="padding: 1rem">
  <mat-card class="flex">
    <div class="scrollable">
      <mat-card-content>
        <mat-card-title class="scrollable-title"> Minhas Tarefas</mat-card-title>
        <mat-card-subtitle class="scrollable-sub">
          <div cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let task of tasks" cdkDrag>
              <mat-card class="task-card">
                <mat-card-content>
                  <mat-card-title>
                    {{ task.name }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    <span fxLayout="row" [ngStyle]="{'color': task.price >= 1000 ? 'green' : 'none'}">Valor: R$
                      {{task.price}} reais</span>
                    <span fxLayout="row"
                      [ngStyle]="{'color': this.now >= task.deadline.getDate ? 'red' : 'none'}">Prazo:
                      {{ task.deadline }}</span>
                  </mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="mat-raised-button mat-warn " (click)="this.delete(task)">
                    Excluir <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-button class="mat-raised-button mat-primary" (click)="this.edit(task)">
                    Editar <mat-icon>edit</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-content>
    </div>
  </mat-card>
</div>

<div class="fab-row">
  <button mat-fab (click)="this.create()">
    <mat-icon>add</mat-icon>
  </button>
</div>
