<h2 mat-dialog-title>Nova tarefa</h2>

<mat-dialog-content style="max-height: none">
  <form [formGroup]="this.task">
    <div fxLayout="row" fxFlex="100%">
      <div fxLayout="row" fxFlex="100%" fxLayoutGap="1rem">
        <mat-form-field fxFlex="calc((100% - 2rem) / 3)">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Entrega da documentação">
        </mat-form-field>
        <mat-form-field fxFlex="calc((100% - 2rem) / 3)">
          <mat-label>Valor</mat-label>
          <input matInput type="number" formControlName="price" placeholder="Ex.: 0,00">
        </mat-form-field>
        <mat-form-field fxFlex="calc((100% - 2rem) / 3)">
          <mat-label>Prazo</mat-label>
          <input matInput type="date" formControlName="deadline">
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    <span>Cancelar</span>
  </button>
  <button class="mat-raised-button mat-primary" (click)="this.salvar()" [disabled]="this.task.invalid">
    <span>Salvar</span>
  </button>
</mat-dialog-actions>